body{
	margin: 0;
}
.content{
	width: 970px;
	background-color: #ddd;
	margin: auto;
}
.head{
	background-color: green;

}
.main{
	padding: 2em 0;
	background-color: yellow;
}
.foot{
	background-color: blue;
}
.head, .main, .foot{width: 100%; min-height: 100px;}